body {
  font-family: sans-serif;
  background: #1F4788;
  color: #e3ebf9;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #9ec6e7;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 20px;
  margin: 50px 0;
  background: #132C55;
  color: #e3ebf9;
  box-shadow: 2px 2px 15px rgba(19, 44, 85, 0.4);
  border-radius: 8px;
}

.large-font {
  font-size: 1.4em;
  background: rgba(227, 235, 249, 0.1);
  padding: 10px;
  color: #e3ebf9;
}

.middle-font {
  font-size: 18px;
  background: rgba(227, 235, 249, 0.1);
  padding: 10px;
  color: #e3ebf9;
}

#small-font {
  font-size: 80%;
  background: rgba(227, 235, 249, 0.1);
  padding: 10px;
  color: #e3ebf9;
}

.first-big-letter:first-letter {
  font-size: 2em;
  color: #F09DF7;
}

#hero-block {
  text-align: center;
}
#hero-block img {
  max-width: 700px;
  width: 100%;
}

#services-block li {
  color: #e3ebf9;
  background: none;
}

#services-more-block dt {
  color: #e3ebf9;
  font-weight: 700;
  font-size: 1.2em;
  background: none;
  padding: 10px 0;
}

#services-more-block dd {
  color: #132C55;
  background: #9ec6e7;
  padding: 10px;
}

#regulatory-authorities-block a[href*="gov.ua"] {
  font-weight: 400;
  color: #e3ebf9;
  text-decoration: none;
}
#regulatory-authorities-block a[href*="gov.ua"]:visited {
  color: #F09DF7;
}

#documents-block a {
  color: #e3ebf9;
  text-decoration: none;
}
#documents-block a:visited {
  color: #F09DF7;
}

#finance-block {
  overflow-x: scroll;
}
#finance-block table td {
  background: #e3ebf9;
  color: #132C55;
  padding: 5px;
}
#finance-block table td:first-child {
  font-weight: 700;
}
#finance-block table th {
  background: #1F4788;
  color: #e3ebf9;
  padding: 5px;
}

#customers-block {
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  height: 100%;
}

#contact-block details {
  margin: 30px 0 10px;
}

nav {
  margin-bottom: 0;
  background: #132C55;
  border: none;
}
nav li a {
  font-size: 1.1em;
  color: #e3ebf9;
  text-decoration: none;
}
nav li a:hover {
  font-weight: 500;
  text-decoration: none;
  color: #9ec6e7;
  background: #1F4788;
}
nav li a:visited {
  color: #F09DF7;
}

h3 {
  color: #132C55;
  background: #9ec6e7;
  padding: 10px;
  font-size: 1.3em;
  margin-top: 0;
  border-radius: 4px;
}

.column-33 {
  flex: 0 0 33.33%;
  border: 1px solid rgba(158, 198, 231, 0.5);
  padding: 10px;
}
@media (max-width: 767px) {
  .column-33 {
    flex: 50%;
  }
}
@media (max-width: 576px) {
  .column-33 {
    flex: 100%;
  }
}

.column-50 {
  flex: 0 0 50%;
  border: 1px solid black;
}
@media (max-width: 576px) {
  .column-50 {
    flex: 100%;
  }
}

.row-top, .row-2 {
  display: flex;
  flex-wrap: wrap;
}

.overflow-div {
  overflow-y: scroll;
  border: 1px solid black;
  max-width: 700px;
  width: 100%;
  padding: 15px;
  height: 300px;
  margin: 0 auto;
  background: #e3ebf9;
  color: #132C55;
}

figure {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.div-with-bg {
  background: url("../images/nyancat.jpg") no-repeat fixed;
  background-size: cover;
  width: 100%;
  border: 1px solid black;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.gazeta-div {
  column-count: 4;
  column-gap: 20px;
  text-align: justify;
}

.task-8-div {
  width: 100%;
  max-width: 100%;
  font-family: "Bangers", cursive;
  font-size: 1.2em;
}
.task-8-div img {
  float: left;
  width: 250px;
  padding: 0 10px 10px 0;
}

.task-9-h3 {
  text-shadow: 1px 1px 2px #F09DF7;
}

.task-10 {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}
.task-10-col {
  flex: 0 0 33%;
}
@media (max-width: 767px) {
  .task-10-col {
    flex: 50%;
  }
}
@media (max-width: 576px) {
  .task-10-col {
    flex: 100%;
  }
}
.task-10-col:first-child {
  background: #F6D4A3;
  color: #132C55;
  border-radius: 10px;
  padding: 15px;
}
.task-10-col:nth-child(2) {
  background: url("../images/nyan-small.jpeg") repeat;
  padding: 15px;
  color: #132C55;
}
.task-10-col:nth-child(3) {
  background: linear-gradient(#E93423 0%, #F09E38 20%, #FDFC54 40%, #7BF94C 60%, #4191F7 80%, #6230F5 100%);
  padding: 15px;
  color: #132C55;
}

.task-14 div {
  transition-duration: 0.2s;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
}
.task-14 div:nth-child(1):hover {
  transform: translateY(15px);
}
.task-14 div:nth-child(2):hover {
  transform: rotate(20deg);
}
.task-14 div:nth-child(3):hover {
  transform: scale(1.4);
}

#canvas {
  border: 1px solid black;
  width: 100%;
  height: 400px;
}

.task-15 {
  width: 100px;
  height: 100px;
  background: #F09DF7;
  transition-duration: 0.2s;
}
.task-15:hover {
  width: 200px;
  height: 200px;
}

form label {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
form input:not([type=radio]), form textarea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  margin-top: 5px;
  background: white;
  border: 1px solid #9ec6e7;
  border-radius: 5px;
}
form input:not([type=radio]) {
  height: 40px;
}
form button {
  background: #c5d7ec;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #7d9fc0;
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  margin: 10px 0;
}
form .form-button {
  background: #d5d8dd;
}
form .form-button:disabled {
  opacity: 0.5;
}

.div-class-0, .div-class-3, .div-class-2, .div-class-1 {
  margin: 10px;
  padding: 10px;
  border: 1px solid #F09DF7;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.div-class-1 {
  background-color: #E93423;
}

.div-class-2 {
  background-color: #F09E38;
}

.div-class-3 {
  background-color: #FDFC54;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery__image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 200ms ease;
  width: 33%;
  height: 300px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .gallery__image {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .gallery__image {
    width: 100%;
  }
}
.gallery__image > * {
  opacity: 0;
}
.gallery__image:hover > * {
  opacity: 1;
}
.gallery__image__title {
  padding: 5px 14px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.gallery__image__text {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 14px;
}
.gallery__image:first-child {
  background-image: url("../images/gallery-1.jpeg");
}
.gallery__image:first-child:hover {
  z-index: 200;
  transform: scale(1.4);
}
.gallery__image:nth-child(2) {
  background-image: url("../images/gallery-2.jpeg");
}
.gallery__image:nth-child(2):hover {
  z-index: 200;
  transform: rotate(10deg);
}
.gallery__image:nth-child(3) {
  background-image: url("../images/gallery-3.jpg");
}
.gallery__image:nth-child(3):hover {
  background-image: url("../images/gallery-3-2.jpg");
}
.gallery__image:nth-child(4) {
  background-image: url("../images/gallery-4.jpg");
}
.gallery__image:nth-child(5) {
  background-image: url("../images/gallery-5.jpg");
}
.gallery__image:nth-child(6) {
  background-image: url("../images/gallery-6.jpeg");
}

/*# sourceMappingURL=styles.css.map */
