$color-dark: #132C55;
$color-main: #1F4788;
$color-light: #9ec6e7;
$color-extra-light: #e3ebf9;
$color-pink: #F09DF7;
$color-grey: #989898;
$color-red: #E93423;
$color-orange: #F09E38;
$color-yellow: #FDFC54;
$color-green: #7BF94C;
$color-blue: #4191F7;
$color-violet: #6230F5;
$color-material: #F6D4A3;

@mixin divBorderRadiusMixin($radius:8px) {
  border-radius: $radius;
}

body {
  font-family: sans-serif;
  background: $color-main;
  color: $color-extra-light;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: $color-light;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 20px;
  margin: 50px 0;
  background: $color-dark;
  color: $color-extra-light;
  box-shadow: 2px 2px 15px rgba($color-dark, 0.4);
  @include divBorderRadiusMixin;
}

.large-font {
  font-size: 1.4em;
  background: rgba($color-extra-light, 0.1);
  padding: 10px;
  color: $color-extra-light;
}

.middle-font {
  font-size: 18px;
  background: rgba($color-extra-light, 0.1);
  padding: 10px;
  color: $color-extra-light;
}

#small-font {
  font-size: 80%;
  background: rgba($color-extra-light, 0.1);
  padding: 10px;
  color: $color-extra-light;
}

.first-big-letter:first-letter {
  font-size: 2em;
  color: $color-pink;
}

#hero-block {
  text-align: center;
}

#services-block {
  li {
    color: $color-extra-light;
    background: none;
  }
}

#services-more-block {
  dt {
    color: $color-extra-light;
    font-weight: 700;
    font-size: 1.2em;
    background: none;
    padding: 10px 0;
  }
}

#services-more-block {
  dd {
    color: $color-dark;
    background: $color-light;
    padding: 10px;
  }
}

#regulatory-authorities-block {
  a[href*="gov.ua"] {
    font-weight: 400;
    color: $color-extra-light;
    text-decoration: none;

    &:visited {
      color: $color-pink;
    }
  }
}

#documents-block {
  a {
    color: $color-extra-light;
    text-decoration: none;

    &:visited {
      color: $color-pink;
    }
  }
}

#finance-block {
  table {
    td {
      background: $color-extra-light;
      color: $color-dark;
      padding: 5px;

      &:first-child {
        font-weight: 700;
      }
    }

    th {
      background: $color-main;
      color: $color-extra-light;
      padding: 5px;
    }
  }
}

#customers-block {
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  height: 100%;
}

#contact-block {
  details {
    margin: 30px 0 10px;
  }
}

nav {
  margin-bottom: 0;
  background: $color-dark;
  border: none;

  li a {
    font-size: 1.1em;
    color: $color-extra-light;
    text-decoration: none;

    &:hover {
      font-weight: 500;
      text-decoration: none;
      color: $color-light;
      background: $color-main;
    }

    &:visited {
      color: $color-pink;
    }
  }
}

h3 {
  color: $color-dark;
  background: $color-light;
  padding: 10px;
  font-size: 1.3em;
  margin-top: 0;
  border-radius: 4px;
}

.column-33 {
  flex: 0 0 33.33%;
  border: 1px solid rgba($color-light, 0.5);
  padding: 10px;

  @media (max-width: 767px) {
    flex: 50%;
  }
  @media (max-width: 576px) {
    flex: 100%;
  }
}

.column-50 {
  flex: 0 0 50%;
  border: 1px solid black;
  @media (max-width: 576px) {
    flex: 100%;
  }
}

.row-top, .row-2 {
  display: flex;
  flex-wrap: wrap;
}

.overflow-div {
  overflow-y: scroll;
  border: 1px solid black;
  max-width: 700px;
  width: 100%;
  padding: 15px;
  height: 300px;
  margin: 0 auto;
  background: $color-extra-light;
  color: $color-dark
}

figure {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.div-with-bg {
  background: url("../images/nyancat.jpg") no-repeat fixed;
  background-size: cover;
  width: 100%;
  border: 1px solid black;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.gazeta-div {
  column-count: 4;
  column-gap: 20px;
  text-align: justify;
}

.task-8-div {
  width: 100%;
  max-width: 100%;
  font-family: 'Bangers', cursive;
  font-size: 1.2em;

  img {
    float: left;
    width: 250px;
    padding: 0 10px 10px 0;
  }
}

.task-9-h3 {
  text-shadow: 1px 1px 2px $color-pink;
}

.task-10 {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;

  &-col {
    flex: 0 0 33%;

    @media (max-width: 767px) {
      flex: 50%;
    }
    @media (max-width: 576px) {
      flex: 100%;
    }

    &:first-child {
      background: $color-material;
      color: $color-dark;
      border-radius: 10px;
      padding: 15px;
    }

    &:nth-child(2) {
      background: url("../images/nyan-small.jpeg") repeat;
      padding: 15px;
      color: $color-dark;
    }

    &:nth-child(3) {
      background: linear-gradient($color-red 0%, $color-orange 20%, $color-yellow 40%, $color-green 60%, $color-blue 80%, $color-violet 100%);
      padding: 15px;
      color: $color-dark;
    }
  }
}

.task-14 {
  div {
    transition-duration: 0.2s;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;

    &:nth-child(1):hover {
      transform: translateY(15px);
    }

    &:nth-child(2):hover {
      transform: rotate(20deg);
    }

    &:nth-child(3):hover {
      transform: scale(1.4);
    }
  }
}

#canvas {
  border: 1px solid black;
  width: 100%;
  height: 400px;
}

.task-15 {
  width: 100px;
  height: 100px;
  background: $color-pink;
  transition-duration: 0.2s;

  &:hover {
    width: 200px;
    height: 200px;
  }
}

form {
  label {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }

  input:not([type=radio]), textarea {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    margin-top: 5px;
    background: white;
    border: 1px solid $color-light;
    border-radius: 5px;
  }

  input:not([type=radio]) {
    height: 40px;
  }

  button {
    background: #c5d7ec;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #7d9fc0;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    margin: 10px 0;
  }

  .form-button {
    background: #d5d8dd;

    &:disabled {
      opacity: 0.5;
    }
  }
}

.div-class-0 {
  margin: 10px;
  padding: 10px;
  border: 1px solid $color-pink;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.div-class-1 {
  @extend .div-class-0;
  background-color: $color-red;
}

.div-class-2 {
  @extend .div-class-0;
  background-color: $color-orange;
}

.div-class-3 {
  @extend .div-class-0;
  background-color: $color-yellow;
}


.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 200ms ease;
    width: 33%;
    height: 300px;
    object-fit: cover;

    @media (max-width: 768px) {
      width: 50%;
    }

    @media (max-width: 450px) {
      width: 100%;
    }


    & > * {
      opacity: 0;
    }

    &:hover > * {
      opacity: 1;
    }

    &__title {
      padding: 5px 14px;
      background: rgba(0, 0, 0, 0.5);
      color: white;
    }

    &__text {
      padding: 10px;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      font-size: 14px;
    }

    &:first-child {
      background-image: url("../images/1.jpg");

      &:hover {
        z-index: 200;
        transform: scale(1.4);
      }
    }

    &:nth-child(2) {
      background-image: url("../images/2.jpg");

      &:hover {
        z-index: 200;
        transform: rotate(10deg);
      }
    }

    &:nth-child(3) {
      background-image: url("../images/3.jpg");

      &:hover {
        background-image: url("../images/3-2.jpg");
      }
    }

    &:nth-child(4) {
      background-image: url("../images/4.jpg");
    }

    &:nth-child(5) {
      background-image: url("../images/5.jpg");
    }

    &:nth-child(6) {
      background-image: url("../images/6.png");
    }
  }
}
